
<div class="preloader-wrapper">
	<span class="preloader"></span>
</div>

<header class="header" id="header">
	<div class="container">
		<div class="header-top jsHeaderTop">
	        <a href="index.html" class="logo">
	        	<img src="assets/img/icons/logo.svg" alt="Чайбург">
	        </a>
	        <form action="#" class="header-search">
	        	<div class="header-search__title">
	        		<img class="header-search__icon" src="assets/img/icons/point.svg" alt="point">
        			<span class="header-search__name">
        				Москва
        			</span>
	        	</div>
	        	<input type="text" class="header-search__field" placeholder="Поиск">
	        	<img class="header-search__input-icon" src="assets/img/icons/search.svg" alt="search">
	        </form>
	        <div class="call-wrapper">
		        <div class="header-top__contacts">
		        	<a href="tel:88002506459" class="header-top__tel tel">	8 (800) 250-64-59
		        	</a>
		        	<a href="mailto:ishop@chayburg.ru" class="header-top__mail">
		        		ishop@chayburg.ru
		        	</a>
		        </div>
		        <button class="header-top__btn btn order-btn">
		        	Заказать звонок
		        </button>
		    </div>
		    <div class="order-wrapper jsMobile">
		        <a href="#" class="header-top__cart">
		        	<img src="assets/img/icons/cart.svg" alt="корзина">
		        	<span class="cart-count">16</span>
		        </a>
		        <button type="button" class="burger">
		            <span class="burger__top"></span>
		            <span class="burger__middle"></span>
		            <span class="burger__bottom"></span>
		        </button>
	        </div>
        </div>
	</div><!-- /container -->
	<nav class="menu jsFixedMenu">
		<ul class="menu__list">
			<li class="menu__item">
				<a href="../shop.html" class="menu__link">
					Чай
				</a>
			</li>
			<li class="menu__item">
				<a href="../shop.html" class="menu__link">
					Аксессуары для кофе
				</a>
			</li>
			<li class="menu__item">
				<a href="../shop.html" class="menu__link">
					Кофе
				</a>
			</li>
			<li class="menu__item">
				<a href="../shop.html" class="menu__link">
					Сладости
				</a>
			</li>
			<li class="menu__item">
				<a href="../shop.html" class="menu__link">
					Аксессуары
				</a>
			</li>
			<li class="menu__item">
				<a href="../shop.html" class="menu__link">
					Подарки
				</a>
			</li>
			<li class="menu__item">
				<a href="../shop.html" class="menu__link">
					Хиты продаж
				</a>
			</li>
			<li class="menu__item">
				<a href="../shop.html" class="menu__link">
					Новинки
				</a>
			</li>
		</ul>
	</nav>
</header>

