.pagination {
	width: 100%;
	padding: 30px 0 30px;
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: 30px;
	border-top: 1px solid rgba(138, 154, 90, 0.6);
	position: relative;
	&__item {
		&:not(:last-of-type) {
			margin-right: 20px;
		}
		&:nth-last-child(-n+2) {
			margin: 0;
		}
		& a {
			display: block;
		}
		&:last-child {
			align-self: flex-end;
			opacity: 0.7;
			transition: all .4s ease;
			position: absolute;
			top: 30px;
			right: 0;
			&:hover {
				opacity: 1;
			}
		}
	}
	&__link {
		display: block;
		background-color: transparent;
		padding: 15px 26px;
		color: $color-4;
		font-family: Ubuntu;
		font-weight: 500;
		font-size: 30px;
		@media (max-width: 1200px) {
 		 	font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
		}	
		&:hover {
			color: #fff;
			background-color: $color-4;
		}
	}
}

.pagination__link.active {
	color: #fff;
	background-color: $color-4;
}
