// colors
$color-1: #3B2B19; // цвет меню, цвет шрифта, фон меню, фон футера 
$color-2: rgba(220, 207, 115, 0.8); // фон слайдера, наши магазины
$color-3: rgba(220, 207, 115, 0.6); // фон в категориях товара
$color-4: #8A9A5A; // цвет кнопок и фона в разделе наши магазины
$color-4-h: #677637; // ховер кнопок (с классом btn)
$color-4-a: #50640e; // активное состояние кнопок (с классом btn)

$color-t-h: #677637; // ховер кнопок (с классом transparent-btn)
$color-t-a: #8A9A5A; // активное состояние кнопок (с классом transparent-btn))

$color-5: #E5E5E5; //цвет инпутов
$color-6: rgba(138, 154, 90, 0.6); //цвет фона секции подписки
$color-7: #DCCF73; // цвет полоски у заголовков секции